/* app css stylesheet */

.nav, .wls-container a { cursor: pointer; }

body {
    text-align: center;
    padding: 5em;
}

.wls-container {
	width:80%;
  /*
	height:20%;
  */
 	margin:2em;
 	padding:1em;
  background-color: white;
}

.wls-chart1 rect {
  fill: steelblue;
}

.wls-chart1 text {
  fill: white;
  font:10px sans-serif;
}

.wls-chart2 rect {
  fill: steelblue;
}

.wls-chart2 text {
  fill: white;
  font:10px sans-serif;
}

.wls-copy {
    margin-left:5%;
    margin-bottom:5%;
    text-align: left;
    border:1px solid gray;
    padding:1em;
}